.container-habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 60%;
    margin: 4.6% auto;
    padding: 4rem 8rem;
    height: 80%;
    align-items: center;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 6px 6px 8px #0000004f;
    background: linear-gradient(rgba(135, 207, 231, 0.603), rgba(173, 216, 230, 0.705)) padding-box,
    linear-gradient(145deg, transparent 15%,#2e2e2e73, #1414149d) border-box;
    border-radius: 20px;
    border: 5px solid transparent;
}

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.cards-habilidades{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.cards-habilidades img{
    width: 4rem;
}

.card-habilidade{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 366px;
    padding: 1rem;
    border-radius: 25px;
    background: linear-gradient(rgba(109, 152, 218, 0.753), rgba(129, 214, 243, 0.705)) padding-box,
    linear-gradient(145deg, transparent 15%,#2e2e2e73, #1414149d) border-box;
    color: white;
    border: 5px solid transparent;
}

.card-habilidade:hover {
    box-shadow: 0px 0px 30px white;
    cursor: default;
}

.certificados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.slider{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000,
        transparent 98%
    );
}

.slider .list{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    min-width: calc(var(--width)*var(--quantidade));
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    left: 100%;
    position: absolute;
    animation: autorun 9s linear infinite;
    -webkit-animation: autorun 9s linear infinite;
    animation-delay: calc((9s/var(--quantidade))*(var(--position) - 1));
}

.slider:hover .item{
    animation-play-state: paused;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.certificados a{
    text-decoration: underline;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 0px 20px white;
}

@keyframes autorun{
    from{
        left: 100%;
    }to{
        left: calc(calc(var(--width)*var(--quantidade))*-1);
    }
}

:root{
    --position:0;
}
